[2017-05-24 18:01] imcvampire opened #3 "Missing sourcemap???"
Hi,

Tks for nice lightbox.
I wonder if you could provide sourcemap for `js` file?

[2017-05-25 10:00] alexpetroni opened #5 "Failed to resolve directive: lazy"
Even if I installed vue-lazyload this error appears.
Thank you

[2017-05-25 10:09] pexea12 commented on #5
Can you give me more specific information? Your code, your log or a screenshot maybe. It could help me detect your problem.

[2017-05-25 10:14] pexea12 commented on #3
Absolutely. I will add it now

[2017-05-25 10:17] pexea12 commented on #5
`vue-lazyload` is actually a dependency to my package. You don't need to install it if you only `vue-lazyload` for my package.

[2017-05-25 10:18] #3 closed

[2017-05-25 10:21] pexea12 commented on #3
https://github.com/pexea12/vue-image-lightbox/pull/4

[2017-05-25 10:36] alexpetroni commented on #5
It is needed to specify Vue.use(VueLazyload) in main.js to solve the problem. Probably it would help if you would give a full working example. Where should be css imported require('vue-image-lightbox/dist/vue-image-lightbox.min.css')? Thank you for your prompt support!

[2017-05-25 10:47] pexea12 commented on #5
Thank you, I will update the document.
You can view this file to see how the package works. [App.vue](https://github.com/pexea12/vue-image-lightbox/blob/master/src/App.vue)

If you are using Webpack, you have to enable `css-loader`
The CSS should be imported at your entry file (normally `main.js`)
[code]

[2017-05-25 10:58] pexea12 commented on #5
I have updated README. You should check it again.

[2017-05-25 11:11] alexpetroni commented on #5
Thank you, it works! Grateful for this component!

[2017-05-25 11:13] #5 closed

[2017-05-29 21:24] freimaks opened #7 "Failed to mount component"
After update vue-image-lightbox have error:
"[Vue warn]: Failed to mount component: template or render function not defined.
(found in <Lightbox>)"
![image](https://cloud.githubusercontent.com/assets/26241659/26562349/431c3380-44ce-11e7-88e4-0761e923563c.png)

[2017-06-06 14:33] schlaus commented on #7
Apparently the dist version is not built correctly.

**Workaround**
import the component like this:
`import Lightbox from 'vue-image-lightbox/src/components/Lightbox'`

[2017-06-07 14:18] pexea12 commented on #7
I have already fixed the production build in version 5.3.0. Thank you for your contribution!

[2017-06-07 15:41] #7 closed

[2017-06-07 16:39] freimaks opened #10 "Does not show a large image"
I have bug after update 5.3.0:

![image 4](https://user-images.githubusercontent.com/26241659/26890001-af386ef8-4bb8-11e7-9692-b8ed53b3edaa.png)

Why script.js has "require('./style.css')"?
![image 5](https://user-images.githubusercontent.com/26241659/26890079-040e514a-4bb9-11e7-81c9-b8efb0faff06.png)

[2017-06-07 16:43] pexea12 commented on #10
Your first picture seems quite vague to me because the images look like corrupted. My guess is that you didn't include the `vue-image-lightbox.min.css` file as requirement.

The `script.js` has `require('./style.css')` because this css file is needed for the lightbox style. When building for production, I have already built a min css file in `dist` folder. Therefore, you only need to include this

[2017-06-07 20:04] freimaks commented on #10
@pexea12 But version 5.2.0 work in my project without this problem.

![image](https://user-images.githubusercontent.com/26241659/26898725-9da01750-4bd5-11e7-9a34-7f4868f1c70a.png)

[2017-06-08 02:49] pexea12 commented on #10
![image](https://user-images.githubusercontent.com/10600525/26910154-4849a24e-4c2f-11e7-9a67-669b5176f31c.png)

Things are fine with me. You should provide more information about the bug.
Were there any logs? Was the image loaded succesfully but not displayed correctly?
When you move to other images, can they be displayed correctly?

[2017-06-08 04:24] argueta15 opened #11 "Cannot read property 'caption' of undefined"
![image](https://user-images.githubusercontent.com/17033669/26912177-60ff504c-4bd8-11e7-86a5-7f01b68b4dec.png)

[2017-06-08 19:42] freimaks commented on #10
I found the error.

![image](https://user-images.githubusercontent.com/26241659/26947374-31815f22-4c9b-11e7-9e4a-a80a886a825a.png)

In .js:
`"img",{key:t.imagesSrc[t.select].src,staticClass:"vue-lb-modal-image",attrs:{src:t.imagesSrc[t.select].src}})]`

Instead of **imagesSrc[t.select].src** there should be **images[t.select].src**

[2017-06-09 03:47] pexea12 commented on #11
I fixed it in https://github.com/pexea12/vue-image-lightbox/releases/tag/5.4.1

[2017-06-09 03:50] #11 closed

[2017-06-09 03:50] pexea12 commented on #10
I fixed it in [5.4.1](https://github.com/pexea12/vue-image-lightbox/releases/tag/5.4.1). Please read the changelog carefully.

[2017-06-09 03:50] #10 closed

[2017-06-12 07:37] imcvampire opened #12 "Can't close lightbox when click outside"

[2017-06-14 19:36] vietquocnguyen opened #14 "Next/Prev buttons don't work when initialized with an empty array"
If you initialize the lightbox `<lightbox :images="imgs"></lightbox> `where imgs = []
Then later you populate it, lets say via ajax. Then you do `this.$refs.lightbox.showImage(0)`. It works, but breaks when you press the next / previous buttons.

[2017-06-14 19:36] vietquocnguyen commented on #14
I fixed this, with <lightbox v-if="imgs.length" :images="imgs"></lightbox>

[2017-06-15 03:14] pexea12 commented on #14
Yeah, sure. You'd better go with `<lightbox v-if="imgs.length" :images="imgs"></lightbox>` instead of modifying the lightbox.

[2017-06-15 03:14] #14 closed

[2017-06-15 03:25] #12 closed

[2017-06-22 00:59] imcvampire opened #16 "stopPropagation is not a function"
In `vue-image-lightbox/dist/vue-image-lightbox in stopPropagation`

[code]

[2017-06-29 14:33] #16 closed

[2017-06-29 16:51] liujingjing5 opened #20 "Can you show the demo source code"
The effect is so good， but in my project has some  problem,
I don`t know why
Can you show the demo source code

think u~

[2017-06-30 02:06] pexea12 commented on #20
The demo source code is in the `src` folder (https://github.com/pexea12/vue-image-lightbox/tree/master/src). You can also look into `App.vue` (https://github.com/pexea12/vue-image-lightbox/blob/master/src/App.vue)

[2017-06-30 02:21] liujingjing5 commented on #20
O(∩_∩)O  think u

[2017-06-30 03:53] #20 closed

[2017-07-03 13:26] rafi1978 opened #22 "displayThumbs problem"
situation:
After dynamically modification the  :images property (add or remove) displayThumbs and countImages properties not updated

[2017-07-03 13:47] imcvampire commented on #22
Could you add some code?

[2017-07-04 03:01] #22 closed

[2017-07-05 13:00] mrborek opened #24 "How to hide previous/next buttons when i have only 1 image ?"
How to:
- hide prev/next button when having only 1 image
- hide next button when seeing last image
- hide prev button when seeing first image

[2017-07-06 06:48] #24 closed

[2017-08-28 05:09] purvishah165 opened #26 "Lightbox not updating when working with multiple array of images"
I have a list of documents and inside each document I have an array of images. When I use lightbox and pass images, only the images of the first document gets updated.

[2017-08-28 09:31] pexea12 commented on #26
Can you give me more specific info about your problem? A code snippet probably helps.

[2017-11-05 14:04] iam-raihan opened #27 "Main image doesn't have `siteLoading`"
siteLoading works for thumbles but not for main image.

[2017-11-05 14:10] imcvampire commented on #27
Currently, the main image doesn't support `siteLoading`

[2017-11-05 14:12] iam-raihan commented on #27
may i know why only for thumbles?

[2017-11-06 05:29] flakobatako opened #28 "Demo with showLightBox= false option is giving "Uncaught TypeError: Cannot set property 'showLightBox' of undefined""
If i try the demo everything works as expected, but if i try to use the option showLightBox= false, whenever i click a thumbnail i'm getting the message: "Uncaught TypeError: Cannot set property 'showLightBox' of undefined".

[2017-11-07 08:47] imcvampire commented on #27
If I remember correctly, there is a bug when implementing this feature for the main image. @pexea12, can you confirm it?

[2017-11-19 23:34] iam-raihan opened #29 "no lightBoxOn event !"
in my project i'm using lightbox and i need to keep an eye on lightBoxOn to control sidebar show/hide. so it'll be great having lightBoxOn event.

[2017-11-19 23:46] #29 closed

[2017-11-27 15:13] Markvandersteen opened #31 "SSR options"
Hello thanks for the package, already using it in one of my projects.
I do have a question however.

Is there a way to use this package with ssr/nuxt?
If so it would be awesome if the readme contained an example, if not is something that is going to be added?

[2017-11-27 15:17] imcvampire commented on #31
Hi @Markvandersteen,

I use this package with SSR and it works perfectly! What problem do you face now?

[2017-11-27 15:30] Markvandersteen commented on #31
At the moment i'm getting some window not defined errors.

[2017-12-01 08:30] Markvandersteen commented on #31
I got it working, i did need some extra code some make it work with nuxtjs.

[2017-12-12 18:36] dmiotti commented on #31
Hi, @Markvandersteen what is the extra code you've added in order to get it work.

[2017-12-13 12:13] lexcode commented on #31
Hey @Markvandersteen I am getting the same issue, could you paste your extra code solution in nuxt please?

[2017-12-13 12:24] lexcode commented on #31
I found it,
### plugins/lightbox.js
[code]
[code]

[2018-01-22 10:34] Markvandersteen commented on #31
@dmiotti @lexcode My approach was to use the System.import function.
When the component is mounted. I import the things I need.
[code]

[2018-01-22 10:34] #31 closed

[2018-03-13 12:30] covertbert commented on #28
In case you're still stuck on this or anyone else comes here in the future... I got this error too and it's because you have to specify and `ref` of `lightbox` when you render the component.

e.g: `lightbox(:images="images", :showLightBox="false", :autoPlay="true", :startAt="startIndex", ref="lightbox")`

By doing this you can call `this.$refs.lightbox.showImage(index)` and `this.$refs` won't be u

[2018-04-23 00:30] mliBoy opened #34 ".vue-lb-container z-index value is different between dev and build"
When I use npm install the plugin, I find .vue-lb-container 'z-index' is  1, because it is 1 in dist/vue-image-lightbox.min.css,  but it is 2001 in your src/components/style.css,  I wish your guys can fix it.

[2018-05-17 04:05] Frank-MJ opened #37 "demo 链接失效了"

[2018-05-31 04:18] nfwyst opened #38 "缩略图不显示, z-index 有问题"
按照api设定了 thumb 与 src 但是 thumb 渲染的时候没有图片内容
<img width="711" alt="2018-05-31 12 18 14" src="https://user-images.githubusercontent.com/35720450/40761121-bc4e6e5c-64cc-11e8-82f7-d4f599e4c4e1.png">

[2018-05-31 04:47] imcvampire commented on #38
Hi, I think you can customize `z-index` by yourself if you use a higher `z-index` in your website

[2018-05-31 04:47] #38 closed

[2018-05-31 04:50] nfwyst opened #39 "The thumbnails are not displayed"
I set images according to the start guide, but the thumbnails image is empty, can you help me ?

[2018-05-31 04:52] nfwyst commented on #39
and can I have any @close method to hold the images when i close lightbox ?

[2018-05-31 04:53] nfwyst commented on #39
its like this
[code]
thanks!

[2018-05-31 06:09] imcvampire commented on #39
Can you share some reproduction code?

[2018-05-31 07:47] nfwyst commented on #39
ok, no problem now.

[2018-05-31 07:48] #39 closed

[2018-06-18 10:10] pexea12 commented on #34
I changed `OptimizeCSSPlugin` options so that `z-index` is not changed after building. This error is fixed in version 6.0.0

[2018-06-18 10:17] #28 closed

[2018-06-18 16:03] pexea12 commented on #34
https://github.com/pexea12/vue-image-lightbox/pull/41

[2018-06-18 16:03] #34 closed

[2018-06-18 16:17] pexea12 commented on #27
Because using `v-lazy` with main image creates an ugly display when switching images.

![image](https://user-images.githubusercontent.com/10600525/41548625-b6654116-734d-11e8-90fa-1d383d3fb46d.png)

Therefore, I decide not to use `v-lazy` in this situation.

[2018-06-18 16:17] #27 closed

[2018-06-18 16:18] #26 closed

[2018-06-18 16:19] pexea12 commented on #26
https://github.com/pexea12/vue-image-lightbox/pull/41

[2018-06-18 17:05] pexea12 commented on #37
Demo is updated now.

[2018-06-18 17:05] #37 closed

[2018-06-18 18:00] imcvampire opened #42 "Mem leak"
You must destroy `hammer` created in `mounted` hook in `beforeDestroy` hook

[2018-06-18 18:14] pexea12 commented on #42
Hammer is not a traditional event emitter from javascript. It is only a normal object which follows observer pattern. Therefore, there is no need to destroy it because Javascript garbage collection will do it for us.

[2018-06-19 00:26] hecktarzuli opened #43 "Remove vue-lazyload as a dependancy"
Man I really wanted to love this package, and I was so close.  Then I noticed that it's heavily dependent on vue-lazyload.  Why?  I'm using what I believe is a better lazy load lib (https://github.com/aFarkas/lazysizes) and I'm stuck with the decision on going with a different lightbox or having 2 lazy load libs.

This seems to be a decision I shouldn't have to make.

Can't your comp detect if laz

[2018-06-19 16:46] imcvampire commented on #42
No, you still have to stop, destroy and set this variable to null to get garbage collector work.
You can check its documentation (http://hammerjs.github.io/api/) and an example from a react component (https://github.com/JedWatson/react-hammerjs/blob/master/src/Hammer.js#L122)

[2018-06-20 02:13] pexea12 commented on #42
You are right in case of a dangling pointer where you attach an event to an outside component.

 For example, if you attach event `e` to component `Father` which uses component `Child`. If `Child` is destroyed but `Father` and `e` are alive, then there will be a problem. Therefore, `e` must be detached and destroyed also. However, if `Child` and `Father` are destroyed, there will be no dangling re

[2018-06-20 15:17] imcvampire commented on #42
Thank you, I get your point! But I will do more test to make sure everything works properly!

[2018-06-20 15:17] #42 closed

[2018-07-07 16:35] etewiah opened #44 "Is it possible to display a you-tube video with this?"
Thanks for this great component.  Would appreciate any pointers on how to use it with a youtube video.

[2018-08-27 20:55] mikebronner opened #45 "TypeError: undefined is not an object (evaluating 't.addEventListener')"
I'm getting the following error during page-load:
[code]

Here's how I am rendering it out:
[code]

[code]

[code]

Any thoughts on what may be causing this? It seems to work fine; but I need to clear any errors from the console. Thanks! :)

[2018-09-06 07:09] eliran-arkabi commented on #45
Have the same problem

[2018-09-11 19:55] olivebeto56 commented on #45
Me too

[2018-09-13 03:47] pexea12 commented on #45
I am working on it

[2018-10-03 12:20] hannerr opened #47 "Lightbox thumbnails not displaying at all"
I´ve implemented the lightbox and everything is working fine, except the thumbnails in the Lightbox don´t load....is this a known issue?
tx hanna

[2018-10-03 15:08] imcvampire commented on #47
Hi,

Can you provide a simple reproduction?

[2018-10-04 07:54] hannerr commented on #47
<template>
  <div class="container">
      <div class="row">
        <div class="col-7">
            <img @click="openGallery" :src="`/static/${images[0].pfad}`" width="100%" alt="`${images[0].title}`">
            <LightBox :images="imagesForLightbox"
              ref="mylightbox"
              :show-caption="true"
              :show-light-box="false"
              :show-thumbs="true"

[2018-10-04 08:10] pexea12 commented on #47
Can I see your image url? It would be even better if you give me some of your original images. You can upload to https://imgur.com/

[2018-10-04 09:07] hannerr commented on #47
Unfortuneately I am ona dev environment so i cant share the url, does a screenshot of the devtools source help? Here you can see that the vue-lb-modal-thumbnail is not filled with data...I gues this should contain sthg?
![source](https://user-images.githubusercontent.com/26022847/46464050-ae351800-c7c5-11e8-857c-684b7c7758b1.PNG)

[2018-10-12 08:59] ondrej-janosik opened #48 "ES5 build"
Hi,

can you adjust babel so this lib produces ES5 compatible build? This is a nice lib but cannot be used when an app needs to support IE11.

Thanks, Ondrej.

[2018-10-13 03:03] imcvampire commented on #48
Hi @ondrej-janosik, it already produces ES5 build! What is your problem when use it on IE11?

[2018-10-15 07:48] ondrej-janosik commented on #48
Are you sure? Because when I look into the distributed code, I can see object-shorthand, which is not supported by IE11.

![image](https://user-images.githubusercontent.com/18070427/46936620-338ab900-d05f-11e8-81ff-aa85c1619206.png)

[2018-10-15 15:57] imcvampire commented on #48
Ah okay, thank you for the report! Let me see if I can do anything!

[2018-10-17 03:52] imcvampire commented on #48
@ondrej-janosik I think you can create a PR anytime you like, you just have to fork this project and push your new to the new repo and create a PR from it to this repo

[2018-11-07 05:50] piange opened #49 "This component can't run in IE"
![image](https://user-images.githubusercontent.com/24648812/48112365-1f6a5e00-e291-11e8-823b-d1961d9971ca.png)

### It will throw the SyntaxError: lack of ":"

[2018-11-07 06:02] piange opened #50 "Can't work in IE"
![image](https://user-images.githubusercontent.com/24648812/48113382-9bff3b80-e295-11e8-8c90-63441a74aba9.png)

**Throw SyntaxError: lack of ":", can't find the reason. help !!!**

[2018-11-07 06:57] #49 closed

[2018-11-13 14:22] xrado commented on #50
I have same issue

[2018-11-14 17:59] imcvampire commented on #50
Ref https://github.com/pexea12/vue-image-lightbox/issues/48

[2018-11-14 17:59] #50 closed

[2018-11-21 16:09] mjones2620 opened #51 "IE11 Issue"
Getting an error in IE11 Expected ':'

[2018-11-22 08:55] nikitae commented on #51
Also having this issue in IE11:
Uncaught (in promise) SyntaxError: Expected ':'

Does anybody know a workaround for this ?

[2018-11-22 22:20] chrismeyers commented on #51
Code in `node_modules` won't get transpiled unless added to [transpileDependencies](https://cli.vuejs.org/config/#transpiledependencies) in `vue.config.js`.  I wasn't able to get this plugin to work using `transpileDependencies`, but I ended up getting it to work by placing the code in my `components` directory.

[2018-12-03 17:24] tineich opened #52 "How to load images using require (as needed by vue.js)"
Not a bug or issue, but a question on usage (my apologizes in advance if this is not the right location to ask questions for vue-image-lightbox). I really want to use vue-image-lightbox. How to use 'require' to load .jpg images as needed by Vue.js?

For example (this will show images on page):
[code]

However, when clicking on an image Lightbox comes up, but images are broken.

Question: How can '

[2018-12-04 07:40] pexea12 commented on #52
You can just insert your image's link. I don't think it is necessary to use `require` here

[code]

[2018-12-12 07:56] egerb opened #53 "More then one gallery on the same page?"
Can't figure out how to use your component if I need to show 2 more groups of images on the same page.
Thanx for any help

[2018-12-12 08:12] pexea12 commented on #53
You should change the `ref` key.

For example, you have 2 Lightbox A and Lightbox B

[code]

To open lightbox A, just do `this.$refs.lightboxA.showImage(0)`. Similarly, to open lightbox B, `this.$refs.lightboxB.showImage(0)`

[2018-12-12 08:39] pexea12 commented on #53
I see. In this case, it is unnecessary to add lightbox to every step of the loop. Instead of that, you should use only 1 instance of lightbox and change your code a little bit.

[code]

The variable `currentIndex` is the index of `messages` that you select. Therefore, you should change your `openGallery` method a little bit:

[code]

You would need to render only 1 instance of lightbox in this cas

[2018-12-12 08:43] egerb commented on #53
Got it, let me try

[2018-12-12 09:12] egerb commented on #53
Hmm, I 'v got weird situation, in openGallery:
`console.log(this.$refs);
 console.log(this.$refs.lightbox);`
shows:
`{}
lightbox: VueComponent {_uid: 25, _isVue: true, $options: {…}, _renderProxy: Proxy, _self: VueComponent, …}
__proto__: Object`
and
`undefined`

[2018-12-12 09:16] pexea12 commented on #53
I think you should remove `v-if` in lightbox or change it to `v-show`

[2018-12-12 09:20] egerb commented on #53
OMG, right,  thanx a lot, worked!

[2018-12-12 09:22] pexea12 commented on #53
No problem. I am not sure what the idea of `v-if` in this case. I think you should remove it because changing to `v-show` doesn't mean anything.

[2018-12-12 09:33] egerb commented on #53
Let me explain:
I 'v got list of messages, every message could have an attachments or not.
When I fetching messages from server  - I put all attachments to pics list : pics[message.id] = [array of objects for light box]
Then on click I need to activate your component and point images property to related pics[message.id].
And now I see errors in console...

[2018-12-12 09:52] pexea12 commented on #53
My code sample is just a demo. I think you should check the `currentIndex` more to make sure everything work. For example, you can change `currentIndex` to 0 at the beginning.

[2018-12-12 10:32] egerb commented on #53
In my case I've used message Id as index and I've used v=if or v-show to activate component if I have attachments, because sometimes I haven't, and I don't want to initiate component.

[2018-12-18 21:44] vtalbot opened #54 "Slots for buttons and image position"
By using `slots` for the buttons and image position, it would allow for better customization and translation

[2019-01-23 09:32] mmieluch commented on #7
Is it possible there's been a regression? I'm using version 6.0.1 and experiencing exactly the same behaviour.

[2019-01-25 00:06] riveraeu opened #56 "Nuxt Page refresh"
Hey I really like this component, but am running into some issues with refreshing the page in my Nuxt app.

![image](https://user-images.githubusercontent.com/9275810/51716011-eddf7400-1fef-11e9-8f30-b9f77955a756.png)

Here are my dependencies:
`"nuxt": "^2.0.0",`
`"vue-image-lightbox": "^6.0.1",`
`"vue-lazyload": "^1.2.6",`
`"vue-touch": "^1.1.0",`

and here is the page using the lightbox compone

[2019-01-27 19:50] AnwarElbo opened #57 "Add new zoom functionality"
It will be cool if we can zoom in and out.

[2019-01-28 08:55] kamontat commented on #47
Confirm.

[2019-01-28 10:59] #54 closed

[2019-01-28 11:09] pexea12 commented on #56
I am investigating it

[2019-01-28 11:11] pexea12 commented on #47
@kamontat Can you provide a sample of your code? Everything works fine in my environment

[2019-01-28 11:34] #57 closed

[2019-01-28 11:35] #53 closed

[2019-01-28 11:36] pexea12 commented on #51
It seems that IE 11 needs `polyfill` to work with Vue. Check these links out:
https://stackoverflow.com/questions/52881807/compiling-es6-and-vue-js-not-working-in-ie-11
https://stackoverflow.com/questions/52056358/vue-cli-3-project-not-working-on-ie-11

[2019-01-28 11:36] #51 closed

[2019-01-28 11:37] #48 closed

[2019-01-28 11:37] #52 closed

[2019-01-28 16:36] pexea12 commented on #56
The new version [6.1.1](https://github.com/pexea12/vue-image-lightbox/releases/tag/6.1.1) is now SSR-supported.

However, it seems to be a Nuxt.js problem since I am unable to fix this error. When I copied the LightBox to `components` folder of Nuxt, everything is fine but importing `vue-image-lightbox` from `node_modules` gave this error.
I think the best work-around now is copying LightBox to `c

[2019-01-28 19:50] riveraeu commented on #56
Thanks for looking into this and for the workaround, the page is now refreshing without any errors!

[2019-01-29 02:21] #56 closed

[2019-02-01 17:01] cogno98 opened #59 "thumb on dynamic image don't change"
I have this template and second thumbs don't change on images change.
The images change correctly but thumbs not work properly.
[code]

[2019-02-01 17:43] pexea12 commented on #59
This error is fixed in version 6.1.2

https://github.com/pexea12/vue-image-lightbox/releases/tag/6.1.2

[2019-02-01 17:43] #59 closed

[2019-02-01 17:45] pexea12 commented on #47
Version 6.1.2 might solve your problem

https://github.com/pexea12/vue-image-lightbox/releases/tag/6.1.2

https://github.com/pexea12/vue-image-lightbox/issues/59

[2019-02-09 21:07] webmint opened #60 "Not working on Ipad"
Problem exist on Ipads only. Remote debugger shows next thing

![image](https://user-images.githubusercontent.com/9350217/52526310-5e101a00-2cbf-11e9-8cc6-2888b14f85f5.png)

This problem discovered on my project (latest build also used). Screen was taken from debugging your demo

[2019-02-11 04:01] imcvampire commented on #60
What is your iOS version?

[2019-02-19 07:58] focussing commented on #43
Same for me!

[2019-02-19 08:02] focussing opened #61 "Build fails"
When doing a `npm run build` the following error occurs:

ERROR in static/js/vendor.87839b9db02403d7ae6a.js from UglifyJs
Unexpected token: name (s) [./~/vue-image-lightbox/dist/vue-image-lightbox.min.js:1,26466][static/js/vendor.87839b9db02403d7ae6a.js:88596,26426]

[2019-02-19 08:10] focussing opened #62 "Could you add onClose event?"
This event would fire when the lightbox is closed.

Are there examples of how to work with the events this module provides?
Thank you!

[2019-02-19 09:05] focussing commented on #61
I checked all versions package.json files.
Just found out that this issue relates to webpack / Vue cli 3.
Build just runs fine when installing version 5.7.0
Maybe update the readme with this information?

Thank you!

[2019-02-20 09:40] sven-ra commented on #31
An easy way to use it in Nuxt is like this:

Make a plugin file:
`import Vue from 'vue'
import VueLazyLoad from 'vue-lazyload'
import VueTouch from 'vue-touch'
import LightBox from 'vue-image-lightbox'
require('vue-image-lightbox/dist/vue-image-lightbox.min.css')

Vue.use(VueTouch, { name: 'v-touch' })
Vue.use(VueLazyLoad)
Vue.component('light-box', LightBox)
`

Add the plugin to nuxt.config with

[2019-02-20 10:20] sven-ra opened #63 "How to use slots?"
How do I use the slots.

Currently trying like this, but it does not work:
[code]

[2019-02-20 10:33] sven-ra commented on #43
I'm actually using it without vue-lazyload.
But I can't figure out how to add lazysizes to the lightbox?

[2019-02-20 14:32] hecktarzuli commented on #43
@sven-ra, not sure how that's possible.  vue-lazyload is in the package.json file as a production dependency, so you're using it.

If you attempt to use lazysizes with this, you may have to resort to some trickery and/or hooks as I don't think this lib exposes the template via slots or anything.

[2019-02-20 15:50] sven-ra commented on #43
Okay weird. In the Readme it states that I should install vue-lazyload myself and import it into my project. Which I am not doing at the moment. Anyways the lightbox works, but the images are not using lazyload. Even when I imported vue-lazyload.

[2019-02-20 16:38] hecktarzuli commented on #43
I have a feeling I'm being dumb.  main.js is for their example.  I'm still 99% sure vue-lazyload will be in your node_modules but if you tree shake you're probably fine.  As to why your stuff isn't working, sorry I can't help ya.

[2019-02-26 15:00] sven-ra commented on #63
I had a silly typo. Named slot syntax is actually like this: `<template v-slot:close>`.

[2019-02-26 15:00] #63 closed

[2019-03-05 08:38] sven-ra commented on #48
@ondrej-janosik Hello! How did you fix this locally?

[2019-03-13 06:09] djvov commented on #48
@ondrej-janosik Hello! How did you fix this?

[2019-03-14 20:12] ondrej-janosik commented on #48
Hi guys, if you use https://cli.vuejs.org/, you can use https://cli.vuejs.org/config/#transpiledependencies option. By default, babel-loader ignores all files inside node_modules. If you want to explicitly transpile this dependency with Babel, you can list it in this option. Otherwise, you can fork this library and adjust the babel settings https://github.com/pexea12/vue-image-lightbox/blob/master

[2019-03-15 04:39] djvov commented on #48
@ondrej-janosik

this works, thanks!

which dependency I should wrote in this list?

[2019-04-24 10:58] anaethoss commented on #31
@sven-ra I have faced the same issue with nuxt then i have followed your solution but a little bit modified with ```<no-ssr>``` tag instead of ```this.isMounted``` and it worked for me :)

[2019-08-23 17:35] devanflaherty opened #70 "Accessibility for images"
Looking at the inspected code of the demo and the src it seems you aren't adding an alt tag to the images in the gallery.

It would be rad if the `caption` attr could translate to an `alt` tag.

[2019-08-27 08:25] demiro opened #72 "Animation effects"
would be nice to chose transition effects (most desirable slide in and out)

[2019-08-27 08:39] demiro opened #73 "TS support"
need types support for typescript version....

[2019-09-02 17:55] #70 closed

[2019-09-03 19:50] janosrusiczki opened #77 "Avoid flicker when loading full size images"
As opposed to the demo, on my site I'm using different files for thumbnails / full size images. When I open the lightbox or click the next image, for a moment all that's displayed is a little box on the middle of the screen (while the image loads). Is it possible to avoid this?

![lightbox](https://user-images.githubusercontent.com/189468/64203815-fd377180-ce9c-11e9-8a70-59bea8e29758.gif)

As you

[2019-09-10 13:17] MLDMoritz opened #78 "Add ability to zoom"
One should be able to pinch-zoom the image.

I would like to contribute, but I need some infos about where to start or where to put this implementation.

[2019-09-10 17:34] pexea12 commented on #78
You can go to `src` and update `script.js` for javascript or `template.html` for your template. Run `yarn dev` to start development.

[2019-09-27 14:38] tibormarias commented on #62
I would be grateful for an answer on that issue as well!

[2019-11-07 02:27] LeXeL commented on #62
So to do a turn around for this You can specify a template inside the component in the close slot like this:

[code]

[2019-11-08 18:00] Skylercrane23 opened #79 "Responsive Thumbnail Section?"
Is there a way the thumbnail section can be responsive? I have seen a few other lightbox examples where depending on the screen size the number of thumbnails changes. Is there a way to do that with this package? or is it something I need to add my own custom CSS/Vue computed property for the nThumbs?

Thanks!

[2019-11-09 22:00] pexea12 commented on #79
I think you can customize your images using CSS. The lightbox already have some CSS classes for you such as `vue-lb-thumbnail-wrapper`.

[2019-11-11 12:44] pjvanwijk commented on #62
There is already an event that fires on close:

So you could do something like:
[code]
And then in your methods:
[code]
I hope this helps.

[2019-11-29 18:28] Nash54 opened #80 "Onchange?"
Is there any method to know when you change images?

[2019-12-19 16:30] khaughton opened #81 "Lazy Load Large (src) image Only when Gallery Opened / thumbs clicked?"
I am using the example with lazy-load (.src) and then openGallery to get Lightbox to show.

Since a typical page may have 20 images or so, and, they could be large, I notice that its the large images (not the thumbs) that are put into the thumb (background on small divs) then when click, it starts lightbox at that image.  Which is great.  But is there any way to only have the thumbs lazy-loaded, t

[2019-12-20 14:03] jasonbronson commented on #81
@khaughton can you show what is in the openGallery() call?

[2019-12-21 18:16] khaughton commented on #81
oh yes, forgot to include that thanks ...

		    openGallery(index) {
     			this.$refs.lightbox.showImage(index);
   			},

and again the block of code that has the lightbox (i fill .src, .thumb, caption);

<ul class="photoThumbs">
        <li class="thumb-li"
          v-for="(image, index) in images" >
          <div v-lazy:background-image="image.src" :class="'lazy-thumb'" @click="openGallery

[2019-12-23 15:19] khaughton commented on #81
... any opinions to lazy loading large images only on gallery open ...

[2019-12-23 21:21] khaughton commented on #81
.. solved this with the following (used my own solution for thumb display) and only open lightbox if an image clicked, seems to only load thumbs until one is clicked.

<ul class="photoThumbs">
      <li class="thumb-li" v-for="(image, index) in images" >
          <div :class="'photo-thumb'" :style="{ backgroundImage: 'url(' + image.thumb + ')' }"
          @click="openGallery(index)">
          <

[2019-12-28 14:21] aimadghssisse opened #82 "closeLightBox methods"
hey,
am really like the package , just  need help how using method closeLightBox ?

`            <lightbox
                alt=""
                class="mw-100 w-auto"
                v-if="data.image"
                :images="[data.image.full]"

[2020-01-03 04:33] titusdecali opened #83 "Using footer slot removes image count box"
Is there a way to use the footer <slot> while also not disabling the image counter?

**Check gif below for issue:**
![image counter issue](https://user-images.githubusercontent.com/4532534/71707502-95366f00-2e2d-11ea-9007-ca274e04b7a7.gif)

[2020-01-04 02:36] satbirdd opened #84 "showImage will scroll the page to the top"
showImage will scroll the view to the top of the page, but i want it to be the place as when i call it, how can i do that?

[2020-02-25 08:18] asterisx commented on #44
I have created a PR for support of videos, the video player is a slot, so I think its possible to add youtube.

https://github.com/pexea12/vue-image-lightbox/pull/85

[2020-03-04 16:36] Skylercrane23 commented on #77
Any updates to this?

[2020-03-05 10:13] pexea12 commented on #77
Not yet now, I am still working on it

[2020-03-10 08:32] kitce commented on #80
I was looking for this too, and then I found the `onImageChanged` event, not documented, may break in future minor versions, use with caution.

You can use it to get the changed image index

[code]

[code]

https://github.com/pexea12/vue-image-lightbox/blob/master/src/components/LightBox.vue#L311

[2020-03-17 15:28] Desory opened #89 "How to use the srcset?"
Hello, i've seen the demo but i cannot figure out how to use the srcset for different browser resolutions. Can you tell me more?
thanks,
@pexea12
Desory

[2020-04-01 01:16] nickproz opened #90 "siteLoading prop not working"
The siteLoading prop doesn't seem to do anything. Is there a specific format the image is supposed to be in? I was looking through the source code and didn't see anywhere that the siteLoading prop was actually used.

Any help would be much appreciated! :)

[2020-04-29 09:24] janosrusiczki commented on #43
If anyone still cares I have removed this dependency in [my fork / package](https://github.com/haiafara/vue-image-lightbox-evolved).

[2020-05-21 18:48] mrinalini-m commented on #62
Added `onClosed` event with [this pull request](https://github.com/pexea12/vue-image-lightbox/pull/87).

[2020-05-21 19:02] #62 closed

[2020-06-05 21:57] carlos-ribeiro-cedro opened #91 "Multiple videos are not re-rendering the video component when switching between them"
Needs to add a KEY on the video tag as well as in the source.

<video
              v-else
              ref="video"
              **:key="media[select].sources[0].src"**
              controls
              :width="media[select].width"
              :height="media[select].height"
              :autoplay="media[select].autoplay"

[2020-06-09 07:05] #89 closed

[2020-06-09 07:05] Desory commented on #89
No answer provided. If i shall get to it and find out how to use it , ill post it here.

[2020-06-09 07:32] imcvampire commented on #89
@Desory Please check the docs on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-srcset

[2020-06-09 07:40] janosrusiczki commented on #89
It's an HTML thing, there's a longer documentation [here](https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images).

[2020-07-02 03:36] tharwat997 commented on #84
@satbirdd

I had the same issue but then when I set `:disableScroll="false"` it worked fine.

[2020-07-05 10:53] Epistol commented on #73
Bump

[2020-07-06 04:09] imcvampire commented on #73
@demiro @Epistol Hi, can you help the author to implement it?

[2020-07-06 17:28] realanmup opened #95 "Add pdf support"
We should be able to see pdf too.

[2020-07-07 02:14] imcvampire commented on #95
@realanmup Seems like out-of-scope. What do you think @pexea12

[2020-07-08 12:54] pexea12 commented on #95
Agree with @imcvampire . It goes beyond the meaning of `image-lightbox`

[2020-07-08 13:00] pexea12 commented on #73
Converting to TypeScript is in my plan but right now I cannot commit my time to it. Plain JavaScript will continue to be the language of the library.

[2020-07-08 13:00] #73 closed

[2020-07-08 13:48] danfwdmotion opened #96 "showImage flashes first image before showing desired image"
When using the showImage method when the lightbox is closed, the lightbox appears with the first image and THEN shows the correct image, whereas I would expect the lightbox to remain hidden until the correct image is ready to be displayed.

This occurs in all browsers, latest version of the package (7.1.0)

[2020-07-08 13:57] janosrusiczki commented on #96
I brought this up earlier here: https://github.com/pexea12/vue-image-lightbox/issues/77

PS. It is fixed in my fork, take a look: https://github.com/haiafara/vue-it-bigger

[2020-07-08 14:04] janosrusiczki commented on #96
The fix for this particular problem is here, if someone wants to backport it: https://github.com/haiafara/vue-it-bigger/commit/8f78a82128ab4600ddffa3e81235493b175e496c

[2020-07-08 16:12] pexea12 commented on #90
https://github.com/pexea12/vue-image-lightbox/releases/tag/7.1.1

[2020-07-08 16:12] #90 closed

[2020-07-08 16:12] pexea12 commented on #91
https://github.com/pexea12/vue-image-lightbox/releases/tag/7.1.1

[2020-07-08 16:12] #91 closed

[2020-07-08 16:20] pexea12 commented on #82
You should add a `ref` to the lightbox:

[code]

then
[code]

[2020-07-08 16:20] #82 closed

[2020-07-08 16:27] pexea12 commented on #84
I don't have this issue:

![Uploading image.png…]()

Maybe you can provide a more detailed example.

[2020-07-08 16:27] #84 closed

[2020-07-08 16:32] pexea12 commented on #80
It's now in README.

[2020-07-08 16:32] #80 closed

[2020-07-08 17:55] pexea12 commented on #83
You need to implement your own counter. Note that the slot for footer:
[code]

You can use `current` and `total` in your own footer.

[2020-07-08 17:55] #83 closed

[2020-07-08 17:55] #81 closed

[2020-07-08 17:56] #61 closed

[2020-07-08 18:03] pexea12 commented on #96
Thanks @janosrusiczki, I fixed it in https://github.com/pexea12/vue-image-lightbox/releases/tag/7.1.3

[2020-07-08 18:03] #96 closed

[2020-07-08 18:03] pexea12 commented on #77
https://github.com/pexea12/vue-image-lightbox/releases/tag/7.1.3

[2020-07-08 18:03] #77 closed

[2020-07-08 18:05] danfwdmotion commented on #96
Thanks for the speedy resolve guys!

[2020-07-08 18:05] #60 closed

[2020-07-08 18:05] #47 closed

[2020-07-08 18:06] #79 closed

[2020-07-13 17:04] JulianMelzig commented on #84
@pexea12 I am experiencing the same issue

[2020-07-13 17:33] pexea12 commented on #84
@JulianMelzig Did you try the solution of @tharwat997 ?

[2020-07-23 00:06] MicroDreamIT opened #98 "how to close the light box when click outside of the image?"

[2020-07-23 19:06] KingDev418 opened #99 "Multi Video play problem"
I want to play several videos.
My code is the followings. I tryied with 2 methods.
<strong>Method1:</strong>(Error: client.js?06a0:84 TypeError: <strong>Cannot read property 'type' of undefined</strong>)
[code]

<strong>Method2:</strong>(always loading only 1st video, If turning video to image, vise versa, It is working normally)
[code]

[2020-07-23 19:08] KingProgrammerOne opened #100 "Multi video playing."
When media variable have many videos except for images, always running 1st video.
why?

[2020-07-24 02:25] imcvampire commented on #100
/close

Dup of #99

[2020-07-24 02:25] #100 closed

[2020-07-25 14:04] khoker opened #101 "Possible to set target of lightbox to be the parent of an iframe?"
Currently embedding a Vue page via an iframe into a larger project I don't control and using this lightbox (nice component, btw) inside that iFrame.

I'm curious and have been skimming the code to see if there is a relatively straightforward solution to setting the target of the lightbox to be the iframe's parent, if that makes sense.

Any initial are appreciated.

[2020-07-25 19:00] janosrusiczki commented on #101
I don't think you can break out from your iframe. It's a browser security feature.

Do you have any examples to prove me wrong? :smile:

[2020-07-28 09:11] pexea12 commented on #101
@khoker It is better if you can provide an example on codepen

[2020-09-01 17:03] gyxoBka opened #103 "Use lightbox with Nuxt.js"
HI, help me, please,  when i used lightbox without nuxt it worked perfectly, but i moved project to SSR Nuxt.js and i cant turn in on.
package.json
![Screenshot_3](https://user-images.githubusercontent.com/69042059/91883887-c6519280-ec8d-11ea-8771-6991238bbcf5.jpg)

added lazyload as nuxt plugin and have that error:
![Screenshot_4](https://user-images.githubusercontent.com/69042059/91884059-09ac01

[2020-09-01 17:15] gyxoBka commented on #103
I tried that [solve](https://github.com/pexea12/vue-image-lightbox/issues/31#issuecomment-465499553) and it works nice. Is it right way to fix issue?

[2020-09-01 20:32] pexea12 commented on #103
Yes, it is. Basically I think the lightbox should only be rendered on the client side. It is not necessary to render it on the server side.

[2020-09-02 12:38] #103 closed

[2020-09-10 12:37] Acolloyds opened #105 "Swipe actions don't initialize when media is initially empty"
When the `media` prop has an empty array initially, the `container` element doesn't render, so the value of `this.$refs.container` is null.

The HammerJS swipe actions get initialized in the `mounted` method, but if the media array is empty, they never get initialized.

Solutions:
Either keep the container div rendered even if media is empty.
Or move initialization to a watcher so that it gets rei

[2020-09-10 13:29] janosrusiczki commented on #105
This is a very good catch, on my fork I spent quite a while figuring it out. My solution (in my use case) was that since the lightbox is hidden when it is initialized I would pass something like `['dummy']` to the media array and this way the watchers get initialized and then before showing the lightbox I'm filling the array with real media.

From your proposed solution I would go with the second

[2020-09-14 08:41] secmin opened #106 "Clicking on the image causes the entire parent element to turn into a black screen."
chrome: latest
lightbox: latest
nuxt.js: latest

If you use the development tool to shrink the image to the size of your phone and click on the image, it works fine. (The problem of moving to the top of the site when you close the image is probably due to the fact that it's fixed to the parent element this time.)
On the desktop, only the parent element goes to the black screen, and pressing the bl

[2020-09-14 10:49] imcvampire commented on #106
Could you provide a minimal reproduce process?

[2020-09-14 12:10] secmin commented on #106
Here's how it works.
As an additional note, if the parent element is black, scrolling is not possible. Since the parent element is long and vertical, I think only the parent element is overlaid and the image is displayed in the center of the vertical parent element (probably). Since it can't be scrolled, the image seems to be hidden at the bottom, leaving a blackened parent element.
I haven't edit

[2020-09-15 17:09] dinlyhor opened #107 "How to custom current image display in light-box by using slot?"
For my case:
I want to custom the current image that displays in this light-box.
ex: I want to modify or add some filters to the current image in light-box.

[2020-09-16 10:06] imcvampire commented on #107
Current, there isn't any slot for the current image. Fell free to contribute it!

[2020-09-16 15:29] dinlyhor opened #108 "Why remove slot footer when "media.length = 1"?"
In my case, I want to use a slot footer even it media length = 1
why need to remove it when length = 1?

example code:
<div  v-if="media.length > 1" class="vue-lb-footer-count">----</div>

[2020-09-16 17:06] imcvampire commented on #108
Feel free to contribute to our project. Currently, hiding footer when there is only 1 image is 1 of our use case

[2020-09-16 17:46] dinlyhor commented on #108
@imcvampire so can you show footer when the image is 1?

[2020-09-16 17:56] imcvampire commented on #108
@dinlyhor No with the current code base.

[2020-09-16 20:26] janosrusiczki commented on #108
IMHO the best would be to pass in a prop `alwaysShowFooter` which would default to false.

[2020-09-19 05:26] dinlyhor commented on #107
@imcvampire Can you help us add a slot for an image?

[2020-09-19 15:49] imcvampire commented on #107
@dinlyhor Will try when I have time. You can contribute by yourself. We always welcome new contributor

[2020-09-25 21:22] dbebli opened #109 "Base64 image"
hello, thank you for your work.
Though it doesn't work for me. Does it support base64 image ? I get no particular error

[2020-09-25 22:55] dbebli commented on #109
I cloned your project, copied a base64 img and put in the dummy js. It works so the error is mine. Sorry

[2020-09-25 22:55] #109 closed

[2020-10-05 14:31] #105 closed

[2020-10-05 14:31] #108 closed

[2020-10-06 10:33] imcvampire opened #111 "VueJS3 support"
We need to support VueJS 3

[2020-10-06 10:34] #111 closed

[2020-11-01 07:43] secmin commented on #106
There was an overlay on the parent element, but we solved it by changing the implementation.

[2020-11-01 07:43] #106 closed

[2020-11-01 09:40] secmin commented on #84
I have the same problem.
Of course, the above setup did not improve the situation.
The structure of the component uses nuxt.js and writes directly to index.vue in the page directory.
Cause unknown.
Do you have a solution?

[2020-12-28 19:20] RafaelScharf commented on #99
I have the same problem, but my image-lightbox works normally, but generates the console log: [Vue warn]: Error in render: "TypeError: Cannot read property 'type' of undefined"

I would like to know if you can prevent this log from being generated

[2020-12-31 11:26] RafaelScharf commented on #99
I found out what my problem was!
I was setting an empty obj before having images in it and this was triggering the error on the console because the type was invalid! Adding a v-if to display the ligth-box only with the obj length greater than 0, and it worked correctly.

[2020-12-31 11:47] arturaum commented on #99
Thank you, Rafael! Warnings and errors are gone!

[2020-12-31 13:13] RafaelScharf commented on #99
I'm glad I helped you!

[2020-12-31 13:22] RafaelScharf commented on #101
I found this solution:
https://en.stackoverflow.com/questions/386304/alterar-div-pai-dentro-de-um-frame-filho

It is in Portuguese, but see the example: https://jsfiddle.net/30jtgs8n/

Maybe it's possible

@janosrusiczki See if this applies to your question

[2020-12-31 17:45] #99 closed

[2021-01-26 23:47] arturaum commented on #27
I change "siteloading.gif" to another transparent .gif  file фnd it started to show up pretty well for main image.
Currently I use [this image](https://novosibirsk.incom-auto.ru/images/basicloader.gif).

[2021-04-10 00:15] JoshiiSinfield opened #118 ""Cannot read property 'type' of undefined" error when media array is empty"
I'm using this project with Nuxt.

Upon component mounting my array of media is empty. I'm then populating it in the fetch method (i've tried beforeMount & mounted too).

Because the array is empty when mounting I'm getting
![image](https://user-images.githubusercontent.com/4964422/114251167-f7b6dd00-9997-11eb-8cce-3d66be474c49.png)
"Cannot read property 'type' of undefined"

Nuxt/Vue file to recr

[2021-04-10 13:32] imcvampire commented on #118
Could you send the full call stack in the developer tool?

[2021-04-14 21:37] JoshiiSinfield commented on #118
Hi @imcvampire ,

Thanks. here it is:

[code]

[2021-04-15 08:09] imcvampire commented on #118
The `vue-image-lightbox` is minified :-( Could you provide a simple reproduction?

[2021-04-15 13:47] JoshiiSinfield commented on #118
HI @imcvampire ,

I've provided the file to recreate it in the opening comment.

If you create a new demo nuxt app, add that template and run it up it'll work.. I can do it & deploy somewhere if necessary?

Cheers,
Josh

[2021-04-15 14:48] imcvampire commented on #118
The file in the opening cmt seems wrong because you haven't import `vue-image-lightbox`?

[2021-04-26 20:45] JoshiiSinfield commented on #118
Apologies @imcvampire
I forgot to mention that I install it as a global component:

*plugins/vue-image-lightbox.js*
[code]

then i add it to plugins array within nuxt.config.js using:
[code]

[2021-04-27 02:07] imcvampire commented on #118
Do you use vue 2 or vue 3?

[2021-05-08 04:08] cnhuye commented on #118
I have same error, finally I found this happened when ```media``` is empty array.
so i add ```v-if="imagelist.length > 0"``` , fixed the error.

[2021-05-08 06:57] ravi-softcosol opened #122 "Cannot resolve the definitions for the modules 'vue-image-lightbox'"
Cannot find the dev dependency "@types/vue-image-lightbox" on the npm register.

[2021-05-08 08:28] ravi-softcosol commented on #122
Please support for vue + typescript

[2021-06-08 12:41] zulus opened #126 "onClosed not working"
onClosed is only emitted during onToggleLightBox. If user use ESC or close button event not working

[2021-11-16 11:30] Dhaxor commented on #122
You can use ambient declaration in typescript to declare the types for now but you won't be able to get intellisense.

[2021-11-18 04:02] congminh090800 opened #137 "SVG not load according to insinsic size"
I have an svg has instrinsic about 200px x 200px, but lightbox load with a size of about 50x50 instead, how can i load it with max width

[2022-08-05 22:20] polymer-coder commented on #78
Was the ability to zoom ever added?

[2022-09-21 07:47] dzcpy commented on #78
Any updates?

[2022-09-22 01:08] dzcpy commented on #78
It's added, but not updated the version to NPM.

[2022-09-30 05:25] fithrahs opened #149 "Thumbnail not load"
hello,
i tried vue-image-lightbox to my nuxt js project

but the thumbnail not showing

![image](https://user-images.githubusercontent.com/85327078/193195671-b7d17813-0bc5-4b64-85bf-5e670722efec.png)

this is my `media`

`
[
  {
    thumb: 'https://s3-us-west-1.amazonaws.com/powr/defaults/image-slider2.jpg',
    src: 'https://s3-us-west-1.amazonaws.com/powr/defaults/image-slider2.jpg',
    caption